:root {
  --base: 1.35; /* Handy multiplier for consistency across elements */
  --black: #222;
  --white: #fff;
  --grey: #d9d9d9;
  --med-grey: #999;
  --dark-grey: #424242;
  --display: 'EB Garamond', georgia, serif;
  --sans: 'Inconsolata', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --serif: Georgia, Times, serif;
}

//Screen sizes for media queries
$medium: 600px;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html,
body,
#app {
  height: 100%;
}

html {
  line-height: calc(1em * var(--base));
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: var(--black);
  color: var(--white);
  margin: 0;
  font-family: var(--sans);
}

main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
li,
p {
  overflow-wrap: break-word;
}

h2 {
  font-size: 1.25em;
  font-weight: 300;
}

p {
  font-family: var(--serif);
}

ol,
ul {
  list-style: none;
  padding: 0;
}

a {
  background-color: transparent;
  color: inherit;
}

b,
strong {
  font-weight: bolder;
}

img {
  max-width: 100%;
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

// TODO: Refactor this so we don't have to add new elements here each time we add new html to place-list view that we want to transition in
.fade-enter-from {
  &.home,
  &.place-list ul,
  &.place-list header,
  &.place-list .install-banner {
    opacity: 0;
  }
}

.fade-enter-to {
  opacity: 1;
}

// Transition from home to place list
.fade-leave-active.home,
.fade-enter-active.place-list {
  transition: opacity 0.5s ease-out;
}

.fade-leave-to.home {
  //Only the grid, text, pulse ring fades, not the orb, which we want to remain for continuity until the loader shows up
  .grid,
  .orb:before {
    opacity: 0;
    transition: opacity 0.4s ease-out;
  }

  h1,
  h2 {
    display: none;
  }
}

// Transition from place list to home
.fade-leave-active.place-list,
.fade-enter-active.home {
  transition: opacity 0.4s ease-out;
}
