@mixin button($color: var(--white), $bg-color: (var(--black))) {
  display: inline-block;
  background: $bg-color;
  color: $color;
  border-radius: 8px;
  text-decoration: none;
  padding: 0.8em 1.5em;
  font-family: var(--sans);
  font-size: 1.1em;
  box-shadow: 0 0 0 2px $bg-color, inset 0 0 0 1px $color;
  @include hover-transition;

  &:hover {
    background: var(--dark-grey)
  }
}

@mixin icon-button {
  @include button;
  display: inline-flex;
  align-items: center;

  span,
  img {
    margin-inline-end: 0.5em;
    font-size: 1.1em;
  }
}

@mixin container {
  max-width: 450px;
  margin: 0 auto;
  padding: 0 1em;
}

@mixin hover-transition{
  transition: 0.25s ease;
}
