@mixin button($color: var(--white)) {
  display: inline-block;
  background: $color;
  color: var(--black);
  border-radius: 6px;
  text-decoration: none;
  padding: 0.8em 2em;
  font-family: var(--sans);
  font-size: 1.1em;
  @include hover-transition;

  &:hover {
    background: var(--grey)
  }
}

@mixin icon-button {
  @include button;
  display: inline-flex;
  align-items: center;

  span,
  img {
    margin-inline-end: 0.5em;
    font-size: 1.1em;
  }
}

@mixin container {
  max-width: 450px;
  margin: 0 auto;
  padding: 0 1em;
}

@mixin hover-transition{
  transition: 0.25s ease;
}
